<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.title }} - {{ page.title | otherwise:site.subtitle }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta property="og:title" content="{{ site.title }} - {{ page.title | otherwise:site.subtitle }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:image" content="https://nekotobit.net/img/artwork.jpg" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{{ page.description | otherwise:site.description }}" />
  <meta name="twitter:card" content="summary" />
  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/logo/apple-touch-icon-180x180.png">
  <meta name="description" content="{{ page.description | otherwise:site.description }}">
  {% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}

  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <style>
    .article p {
      padding: 10px 0;
    }

    .article ul {
      padding: 10px 20px 10px 20px;
      list-style: square;
    }
    .article a {
      text-decoration: underline;
    }
  </style>
</head>

<body class="p-7 text-center m-auto font-serif" style="max-width: 400px; background-color: #fff6de;">
  <header class="mt-5 mb-10">
    <h1 class="font-bold text-2xl mb-5">
      <a href="/">
        <img width="200px" height="200px" src="/img/thumbnail.jpg" alt="{{ site.title }} logo" class="inline rounded-lg">
      </a>
    </h1>
    <p class="mt-5">{{ site.description }}</p>
  </header>
  <main>
    {{ content }}
  </main>
  <footer class="mt-10">   
    <ul class="mb-10">
      {% for subscription in site.data.subscriptions %}
        <li><a target="_blank" href="{{ subscription.url }}"><img width="200px" height="50px" src="{{ subscription.badge }}" class="mx-auto my-3" /></a></li>
      {% endfor %}
    </ul>
     
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <small>&copy; Nekotobit</small>
  </footer>
</html>
